{% block content %}
<p> Лиси́ца — общее название нескольких видов млекопитающих семейства псовых.
    Лишь 10 видов этой группы относят к роду собственно лисиц (лат. Vulpes).
    Наиболее известный и распространённый представитель — обыкновенная лисица (Vulpes vulpes).
    Лисицы встречаются в фольклоре многих народов по всему миру.
    Раскрас лис может меняться от белоснежно мраморного до жемчужно чёрного
    Некоторые виды лис могут содержаться в неволе как экзотические домашние животные
   Cогласно современным представлениям о филогении псовых, группа лисиц в понимании,
    которое используется в этой статье, — полифилетическая, следовательно, непригодная
    для использования в качестве таксона. </p>
{% endblock %}